# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan.binary
**/tfplan.json
**/tfplan_*.json

# Terraform provider cache (LOCAL ONLY)
.terraform-plugin-cache/
.tfdata/

# Tool outputs
**/checkov_*.txt
**/tfsec_*.txt
**/terrascan_*.txt
**/conftest_*.txt

# Python
__pycache__/
*.pyc

awscliv2.zip
awscliv2.zip
aws/dist/
