# Terraform outputs
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan.binary
**/tfplan.binary
**/tfplan.json
tfplan.json

# Scanner outputs
checkov_*.txt
tfsec_*.txt
terrascan_*.txt
conftest_*.txt
.venv/
.env
.aws/
output/
*.swp
*.swo
