name: Terraform S3 Misconfig CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  terraform-security:
    runs-on: ubuntu-latest

    env:
      AWS_DEFAULT_REGION: eu-west-2
      #  GitHub Secrets Credentials
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_TERRAFORM_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_TERRAFORM_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Terraform and tools
        run: |
          sudo apt-get update
          sudo apt-get install -y curl wget jq

          # Terraform
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt-get update && sudo apt-get install -y terraform

          # Python + Checkov
          sudo apt-get install -y python3-pip
          pip3 install checkov

          # tfsec
          curl -sSL https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash

          # Terrascan
          curl -L https://github.com/tenable/terrascan/releases/latest/download/terrascan_linux_amd64.tar.gz \
            -o terrascan.tar.gz
          tar -xf terrascan.tar.gz
          sudo mv terrascan /usr/local/bin/

          # Conftest (OPA)
          curl -L https://github.com/open-policy-agent/conftest/releases/latest/download/conftest_linux_amd64.tar.gz \
            -o conftest.tar.gz
          tar -xf conftest.tar.gz
          sudo mv conftest /usr/local/bin/

      - name: Make run_scans.sh executable
        run: chmod +x ./run_scans.sh

      - name: Run scans for misconfig and benign scenarios
        run: |
          ./run_scans.sh test-suite/storage/STO-MISC-001-s3-public-unencrypted/
          ./run_scans.sh test-suite/storage/STO-BENIGN-001-s3-private-encrypted/
