name: Terraform S3 Misconfig CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  terraform-security:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      # Configure AWS credentials from GitHub secrets
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_TERRAFORM_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_TERRAFORM_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Install Checkov
        run: |
          pip install --upgrade pip
          pip install checkov

      - name: Install tfsec
        run: |
          curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash
          tfsec --version

      - name: Install Terrascan
        run: |
          curl -L https://github.com/tenable/terrascan/releases/latest/download/terrascan_linux_amd64 -o terrascan
          chmod +x terrascan
          sudo mv terrascan /usr/local/bin/terrascan
          terrascan version || true

      - name: Install Conftest
        run: |
          LATEST_VERSION=$(wget -O - "https://api.github.com/repos/open-policy-agent/conftest/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
          ARCH=$(uname -m)
          SYSTEM=$(uname | tr '[:upper:]' '[:lower:]')
          wget "https://github.com/open-policy-agent/conftest/releases/download/${LATEST_VERSION}/conftest_${LATEST_VERSION}_${SYSTEM}_${ARCH}.tar.gz"
          tar xzf "conftest_${LATEST_VERSION}_${SYSTEM}_${ARCH}.tar.gz"
          sudo mv conftest /usr/local/bin/conftest
          conftest --version

      - name: Make run_scans.sh executable
        run: chmod +x ./run_scans.sh

      - name: Run scans for BENIGN S3 scenario (should PASS)
        run: ./run_scans.sh test-suite/storage/STO-BENIGN-001-s3-private-encrypted/

      - name: Run scans for MISC S3 scenario (should FAIL)
        run: ./run_scans.sh test-suite/storage/STO-MISC-001-s3-public-unencrypted/
